*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
html {
    scroll-behavior: smooth;
}
body {
    color:#fff;
}
img {
    max-width: 100%;
}

.sub{
    background-color: #8e1717;
    color:#ffffff;

}
.pBox .sub{
    margin-top:44px;
}
.acc{
    background-color: #d28e1d;
}
h3{
    color:#000;
}

.logo{
    position: sticky;
    top:0;
    right:10px;
    z-index:10;
}
.box1{
    width:100%;
    height:1400px;
}
.box2{
    width:100%;
   height:1400px;
}
.box3{
    width:100%;
    height:1400px;
}
.box4{
    width:100%;
    height:1400px;
}
.toTop{
    width:60px;
    height:60px;
    background-color: rgba(211, 211, 211, 0.7);
    color:#000;
    position: fixed;
    bottom: 10px;
    right:10px;
    border-radius: 10px;
    text-align: center;
}
.toTop a{
    display:block;
}
ul,li{
    list-style: none;
}
.menu {
    width:100%;

}
.menu li{
    float:left;
}
.menu ul:after{
    content:"";
    display: block;
    clear:both;
}
.menu a{
    display:block;
    padding:10px;
    text-decoration: none;
    color:rgb(233, 233, 233);
}
.menu {
    position:fixed;
    top:0;
    left:0;
    z-index:120;
}

.col{
 
    color:#000;
}
.tomato{
    width:100px;
}